<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 1 in nro_sort %}act{% endif %}">01</div>
    <div class="p-2 flex-fill {% if 11 in nro_sort %}act{% endif %}">11</div>
    <div class="p-2 flex-fill {% if 21 in nro_sort %}act{% endif %}">21</div>
    <div class="p-2 flex-fill {% if 31 in nro_sort %}act{% endif %}">31</div>
    <div class="p-2 flex-fill {% if 41 in nro_sort %}act{% endif %}">41</div>
    <div class="p-2 flex-fill {% if 51 in nro_sort %}act{% endif %}">51</div>
    <div class="p-2 flex-fill {% if 61 in nro_sort %}act{% endif %}">61</div>
    <div class="p-2 flex-fill {% if 71 in nro_sort %}act{% endif %}">71</div>
    <div class="p-2 flex-fill {% if 81 in nro_sort %}act{% endif %}">81</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 2 in nro_sort %}act{% endif %}">02</div>
    <div class="p-2 flex-fill {% if 12 in nro_sort %}act{% endif %}">12</div>
    <div class="p-2 flex-fill {% if 22 in nro_sort %}act{% endif %}">22</div>
    <div class="p-2 flex-fill {% if 32 in nro_sort %}act{% endif %}">32</div>
    <div class="p-2 flex-fill {% if 42 in nro_sort %}act{% endif %}">42</div>
    <div class="p-2 flex-fill {% if 52 in nro_sort %}act{% endif %}">52</div>
    <div class="p-2 flex-fill {% if 62 in nro_sort %}act{% endif %}">62</div>
    <div class="p-2 flex-fill {% if 72 in nro_sort %}act{% endif %}">72</div>
    <div class="p-2 flex-fill {% if 82 in nro_sort %}act{% endif %}">82</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 3 in nro_sort %}act{% endif %}">03</div>
    <div class="p-2 flex-fill {% if 13 in nro_sort %}act{% endif %}">13</div>
    <div class="p-2 flex-fill {% if 23 in nro_sort %}act{% endif %}">23</div>
    <div class="p-2 flex-fill {% if 33 in nro_sort %}act{% endif %}">33</div>
    <div class="p-2 flex-fill {% if 43 in nro_sort %}act{% endif %}">43</div>
    <div class="p-2 flex-fill {% if 53 in nro_sort %}act{% endif %}">53</div>
    <div class="p-2 flex-fill {% if 63 in nro_sort %}act{% endif %}">63</div>
    <div class="p-2 flex-fill {% if 73 in nro_sort %}act{% endif %}">73</div>
    <div class="p-2 flex-fill {% if 83 in nro_sort %}act{% endif %}">83</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 4 in nro_sort %}act{% endif %}">04</div>
    <div class="p-2 flex-fill {% if 14 in nro_sort %}act{% endif %}">14</div>
    <div class="p-2 flex-fill {% if 24 in nro_sort %}act{% endif %}">24</div>
    <div class="p-2 flex-fill {% if 34 in nro_sort %}act{% endif %}">34</div>
    <div class="p-2 flex-fill {% if 44 in nro_sort %}act{% endif %}">44</div>
    <div class="p-2 flex-fill {% if 54 in nro_sort %}act{% endif %}">54</div>
    <div class="p-2 flex-fill {% if 64 in nro_sort %}act{% endif %}">64</div>
    <div class="p-2 flex-fill {% if 74 in nro_sort %}act{% endif %}">74</div>
    <div class="p-2 flex-fill {% if 84 in nro_sort %}act{% endif %}">84</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 5 in nro_sort %}act{% endif %}">05</div>
    <div class="p-2 flex-fill {% if 15 in nro_sort %}act{% endif %}">15</div>
    <div class="p-2 flex-fill {% if 25 in nro_sort %}act{% endif %}">25</div>
    <div class="p-2 flex-fill {% if 35 in nro_sort %}act{% endif %}">35</div>
    <div class="p-2 flex-fill {% if 45 in nro_sort %}act{% endif %}">45</div>
    <div class="p-2 flex-fill {% if 55 in nro_sort %}act{% endif %}">55</div>
    <div class="p-2 flex-fill {% if 65 in nro_sort %}act{% endif %}">65</div>
    <div class="p-2 flex-fill {% if 75 in nro_sort %}act{% endif %}">75</div>
    <div class="p-2 flex-fill {% if 85 in nro_sort %}act{% endif %}">85</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 6 in nro_sort %}act{% endif %}">06</div>
    <div class="p-2 flex-fill {% if 16 in nro_sort %}act{% endif %}">16</div>
    <div class="p-2 flex-fill {% if 26 in nro_sort %}act{% endif %}">26</div>
    <div class="p-2 flex-fill {% if 36 in nro_sort %}act{% endif %}">36</div>
    <div class="p-2 flex-fill {% if 46 in nro_sort %}act{% endif %}">46</div>
    <div class="p-2 flex-fill {% if 56 in nro_sort %}act{% endif %}">56</div>
    <div class="p-2 flex-fill {% if 66 in nro_sort %}act{% endif %}">66</div>
    <div class="p-2 flex-fill {% if 76 in nro_sort %}act{% endif %}">76</div>
    <div class="p-2 flex-fill {% if 86 in nro_sort %}act{% endif %}">86</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 7 in nro_sort %}act{% endif %}">07</div>
    <div class="p-2 flex-fill {% if 17 in nro_sort %}act{% endif %}">17</div>
    <div class="p-2 flex-fill {% if 27 in nro_sort %}act{% endif %}">27</div>
    <div class="p-2 flex-fill {% if 37 in nro_sort %}act{% endif %}">37</div>
    <div class="p-2 flex-fill {% if 47 in nro_sort %}act{% endif %}">47</div>
    <div class="p-2 flex-fill {% if 57 in nro_sort %}act{% endif %}">57</div>
    <div class="p-2 flex-fill {% if 67 in nro_sort %}act{% endif %}">67</div>
    <div class="p-2 flex-fill {% if 77 in nro_sort %}act{% endif %}">77</div>
    <div class="p-2 flex-fill {% if 87 in nro_sort %}act{% endif %}">87</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 8 in nro_sort %}act{% endif %}">08</div>
    <div class="p-2 flex-fill {% if 18 in nro_sort %}act{% endif %}">18</div>
    <div class="p-2 flex-fill {% if 28 in nro_sort %}act{% endif %}">28</div>
    <div class="p-2 flex-fill {% if 38 in nro_sort %}act{% endif %}">38</div>
    <div class="p-2 flex-fill {% if 48 in nro_sort %}act{% endif %}">48</div>
    <div class="p-2 flex-fill {% if 58 in nro_sort %}act{% endif %}">58</div>
    <div class="p-2 flex-fill {% if 68 in nro_sort %}act{% endif %}">68</div>
    <div class="p-2 flex-fill {% if 78 in nro_sort %}act{% endif %}">78</div>
    <div class="p-2 flex-fill {% if 88 in nro_sort %}act{% endif %}">88</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 9 in nro_sort %}act{% endif %}">09</div>
    <div class="p-2 flex-fill {% if 19 in nro_sort %}act{% endif %}">19</div>
    <div class="p-2 flex-fill {% if 29 in nro_sort %}act{% endif %}">29</div>
    <div class="p-2 flex-fill {% if 39 in nro_sort %}act{% endif %}">39</div>
    <div class="p-2 flex-fill {% if 49 in nro_sort %}act{% endif %}">49</div>
    <div class="p-2 flex-fill {% if 59 in nro_sort %}act{% endif %}">59</div>
    <div class="p-2 flex-fill {% if 69 in nro_sort %}act{% endif %}">69</div>
    <div class="p-2 flex-fill {% if 79 in nro_sort %}act{% endif %}">79</div>
    <div class="p-2 flex-fill {% if 89 in nro_sort %}act{% endif %}">89</div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 10 in nro_sort %}act{% endif %}">10</div>
    <div class="p-2 flex-fill {% if 20 in nro_sort %}act{% endif %}">20</div>
    <div class="p-2 flex-fill {% if 30 in nro_sort %}act{% endif %}">30</div>
    <div class="p-2 flex-fill {% if 40 in nro_sort %}act{% endif %}">40</div>
    <div class="p-2 flex-fill {% if 50 in nro_sort %}act{% endif %}">50</div>
    <div class="p-2 flex-fill {% if 60 in nro_sort %}act{% endif %}">60</div>
    <div class="p-2 flex-fill {% if 70 in nro_sort %}act{% endif %}">70</div>
    <div class="p-2 flex-fill {% if 80 in nro_sort %}act{% endif %}">80</div>
    <div class="p-2 flex-fill {% if 90 in nro_sort %}act{% endif %}">90</div>
</div>