<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 1 in nro_sort %}act{% endif %}"><span>01</span></div>
    <div class="p-2 flex-fill {% if 11 in nro_sort %}act{% endif %}"><span>11</span></div>
    <div class="p-2 flex-fill {% if 21 in nro_sort %}act{% endif %}"><span>21</span></div>
    <div class="p-2 flex-fill {% if 31 in nro_sort %}act{% endif %}"><span>31</span></div>
    <div class="p-2 flex-fill {% if 41 in nro_sort %}act{% endif %}"><span>41</span></div>
    <div class="p-2 flex-fill {% if 51 in nro_sort %}act{% endif %}"><span>51</span></div>
    <div class="p-2 flex-fill {% if 61 in nro_sort %}act{% endif %}"><span>61</span></div>
    <div class="p-2 flex-fill {% if 71 in nro_sort %}act{% endif %}"><span>71</span></div>
    <div class="p-2 flex-fill {% if 81 in nro_sort %}act{% endif %}"><span>81</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 2 in nro_sort %}act{% endif %}"><span>02</span></div>
    <div class="p-2 flex-fill {% if 12 in nro_sort %}act{% endif %}"><span>12</span></div>
    <div class="p-2 flex-fill {% if 22 in nro_sort %}act{% endif %}"><span>22</span></div>
    <div class="p-2 flex-fill {% if 32 in nro_sort %}act{% endif %}"><span>32</span></div>
    <div class="p-2 flex-fill {% if 42 in nro_sort %}act{% endif %}"><span>42</span></div>
    <div class="p-2 flex-fill {% if 52 in nro_sort %}act{% endif %}"><span>52</span></div>
    <div class="p-2 flex-fill {% if 62 in nro_sort %}act{% endif %}"><span>62</span></div>
    <div class="p-2 flex-fill {% if 72 in nro_sort %}act{% endif %}"><span>72</span></div>
    <div class="p-2 flex-fill {% if 82 in nro_sort %}act{% endif %}"><span>82</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 3 in nro_sort %}act{% endif %}"> <span>03</span></div>
    <div class="p-2 flex-fill {% if 13 in nro_sort %}act{% endif %}"> <span>13</span></div>
    <div class="p-2 flex-fill {% if 23 in nro_sort %}act{% endif %}"> <span>23</span></div>
    <div class="p-2 flex-fill {% if 33 in nro_sort %}act{% endif %}"> <span>33</span></div>
    <div class="p-2 flex-fill {% if 43 in nro_sort %}act{% endif %}"> <span>43</span></div>
    <div class="p-2 flex-fill {% if 53 in nro_sort %}act{% endif %}"> <span>53</span></div>
    <div class="p-2 flex-fill {% if 63 in nro_sort %}act{% endif %}"> <span>63</span></div>
    <div class="p-2 flex-fill {% if 73 in nro_sort %}act{% endif %}"> <span>73</span></div>
    <div class="p-2 flex-fill {% if 83 in nro_sort %}act{% endif %}"> <span>83</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 4 in nro_sort %}act{% endif %}"> <span>04</span></div>
    <div class="p-2 flex-fill {% if 14 in nro_sort %}act{% endif %}"> <span>14</span></div>
    <div class="p-2 flex-fill {% if 24 in nro_sort %}act{% endif %}"> <span>24</span></div>
    <div class="p-2 flex-fill {% if 34 in nro_sort %}act{% endif %}"> <span>34</span></div>
    <div class="p-2 flex-fill {% if 44 in nro_sort %}act{% endif %}"> <span>44</span></div>
    <div class="p-2 flex-fill {% if 54 in nro_sort %}act{% endif %}"> <span>54</span></div>
    <div class="p-2 flex-fill {% if 64 in nro_sort %}act{% endif %}"> <span>64</span></div>
    <div class="p-2 flex-fill {% if 74 in nro_sort %}act{% endif %}"> <span>74</span></div>
    <div class="p-2 flex-fill {% if 84 in nro_sort %}act{% endif %}"> <span>84</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 5 in nro_sort %}act{% endif %}"> <span>05</span></div>
    <div class="p-2 flex-fill {% if 15 in nro_sort %}act{% endif %}"> <span>15</span></div>
    <div class="p-2 flex-fill {% if 25 in nro_sort %}act{% endif %}"> <span>25</span></div>
    <div class="p-2 flex-fill {% if 35 in nro_sort %}act{% endif %}"> <span>35</span></div>
    <div class="p-2 flex-fill {% if 45 in nro_sort %}act{% endif %}"> <span>45</span></div>
    <div class="p-2 flex-fill {% if 55 in nro_sort %}act{% endif %}"> <span>55</span></div>
    <div class="p-2 flex-fill {% if 65 in nro_sort %}act{% endif %}"> <span>65</span></div>
    <div class="p-2 flex-fill {% if 75 in nro_sort %}act{% endif %}"> <span>75</span></div>
    <div class="p-2 flex-fill {% if 85 in nro_sort %}act{% endif %}"> <span>85</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 6 in nro_sort %}act{% endif %}"> <span>06</span></div>
    <div class="p-2 flex-fill {% if 16 in nro_sort %}act{% endif %}"> <span>16</span></div>
    <div class="p-2 flex-fill {% if 26 in nro_sort %}act{% endif %}"> <span>26</span></div>
    <div class="p-2 flex-fill {% if 36 in nro_sort %}act{% endif %}"> <span>36</span></div>
    <div class="p-2 flex-fill {% if 46 in nro_sort %}act{% endif %}"> <span>46</span></div>
    <div class="p-2 flex-fill {% if 56 in nro_sort %}act{% endif %}"> <span>56</span></div>
    <div class="p-2 flex-fill {% if 66 in nro_sort %}act{% endif %}"> <span>66</span></div>
    <div class="p-2 flex-fill {% if 76 in nro_sort %}act{% endif %}"> <span>76</span></div>
    <div class="p-2 flex-fill {% if 86 in nro_sort %}act{% endif %}"> <span>86</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 7 in nro_sort %}act{% endif %}"> <span>07</span></div>
    <div class="p-2 flex-fill {% if 17 in nro_sort %}act{% endif %}"> <span>17</span></div>
    <div class="p-2 flex-fill {% if 27 in nro_sort %}act{% endif %}"> <span>27</span></div>
    <div class="p-2 flex-fill {% if 37 in nro_sort %}act{% endif %}"> <span>37</span></div>
    <div class="p-2 flex-fill {% if 47 in nro_sort %}act{% endif %}"> <span>47</span></div>
    <div class="p-2 flex-fill {% if 57 in nro_sort %}act{% endif %}"> <span>57</span></div>
    <div class="p-2 flex-fill {% if 67 in nro_sort %}act{% endif %}"> <span>67</span></div>
    <div class="p-2 flex-fill {% if 77 in nro_sort %}act{% endif %}"> <span>77</span></div>
    <div class="p-2 flex-fill {% if 87 in nro_sort %}act{% endif %}"> <span>87</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 8 in nro_sort %}act{% endif %}"> <span>08</span></div>
    <div class="p-2 flex-fill {% if 18 in nro_sort %}act{% endif %}"> <span>18</span></div>
    <div class="p-2 flex-fill {% if 28 in nro_sort %}act{% endif %}"> <span>28</span></div>
    <div class="p-2 flex-fill {% if 38 in nro_sort %}act{% endif %}"> <span>38</span></div>
    <div class="p-2 flex-fill {% if 48 in nro_sort %}act{% endif %}"> <span>48</span></div>
    <div class="p-2 flex-fill {% if 58 in nro_sort %}act{% endif %}"> <span>58</span></div>
    <div class="p-2 flex-fill {% if 68 in nro_sort %}act{% endif %}"> <span>68</span></div>
    <div class="p-2 flex-fill {% if 78 in nro_sort %}act{% endif %}"> <span>78</span></div>
    <div class="p-2 flex-fill {% if 88 in nro_sort %}act{% endif %}"> <span>88</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 9 in nro_sort %}act{% endif %}"> <span>09</span></div>
    <div class="p-2 flex-fill {% if 19 in nro_sort %}act{% endif %}"> <span>19</span></div>
    <div class="p-2 flex-fill {% if 29 in nro_sort %}act{% endif %}"> <span>29</span></div>
    <div class="p-2 flex-fill {% if 39 in nro_sort %}act{% endif %}"> <span>39</span></div>
    <div class="p-2 flex-fill {% if 49 in nro_sort %}act{% endif %}"> <span>49</span></div>
    <div class="p-2 flex-fill {% if 59 in nro_sort %}act{% endif %}"> <span>59</span></div>
    <div class="p-2 flex-fill {% if 69 in nro_sort %}act{% endif %}"> <span>69</span></div>
    <div class="p-2 flex-fill {% if 79 in nro_sort %}act{% endif %}"> <span>79</span></div>
    <div class="p-2 flex-fill {% if 89 in nro_sort %}act{% endif %}"> <span>89</span></div>
</div>

<div class="d-flex text-center">
    <div class="p-2 flex-fill {% if 10 in nro_sort %}act{% endif %}"> <span>10</span></div>
    <div class="p-2 flex-fill {% if 20 in nro_sort %}act{% endif %}"> <span>20</span></div>
    <div class="p-2 flex-fill {% if 30 in nro_sort %}act{% endif %}"> <span>30</span></div>
    <div class="p-2 flex-fill {% if 40 in nro_sort %}act{% endif %}"> <span>40</span></div>
    <div class="p-2 flex-fill {% if 50 in nro_sort %}act{% endif %}"> <span>50</span></div>
    <div class="p-2 flex-fill {% if 60 in nro_sort %}act{% endif %}"> <span>60</span></div>
    <div class="p-2 flex-fill {% if 70 in nro_sort %}act{% endif %}"> <span>70</span></div>
    <div class="p-2 flex-fill {% if 80 in nro_sort %}act{% endif %}"> <span>80</span></div>
    <div class="p-2 flex-fill {% if 90 in nro_sort %}act{% endif %}"> <span>90</span></div>
</div>